/* globals.css */
@import "tailwindcss";

body {
  background-color: #FDE8C4;
  color: #1F2937; /* Tailwind gray-900 */
  font-family: 'Inter', sans-serif;
}

body.dark {
  background-color: #111827; /* Tailwind gray-900 dark */
  color: #FFFFFF;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Quicksand', sans-serif;
}